@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shimmer effect */
@layer utilities {
  /* Shimmer Animation */
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  /* Shimmer effect class */
  .shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite;
  }
}
body, html {
  overflow-x: hidden;
}
